# Зависимости и библиотеки (загружаются через npm)
node_modules/
.pnpm-store/

# Результат сборки приложения
dist/
dist-ssr/
*.local

# Логи ошибок и работы
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Переменные окружения (секреты и ключи доступа)
.env
.env.production
.env.local
.env.*.local

# Системные файлы операционных систем
.DS_Store
Thumbs.db

# Настройки редакторов
.vscode/
.idea/